In [49]:
import os 
path = '../posts/'
filenames = [name for name in os.listdir(path)]

In [50]:
from pandas import read_csv
df = read_csv('./risk/posts_data.csv')

In [78]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33863 entries, 0 to 33862
Data columns (total 13 columns):
Unnamed: 0      33863 non-null int64
ID              33863 non-null object
author          33863 non-null object
date            33863 non-null object
img             33863 non-null bool
rating          33863 non-null int64
tag_activity    30506 non-null object
tag_category    20381 non-null object
tag_group       6556 non-null object
tag_place       4463 non-null object
tag_xtype       1638 non-null object
title           33863 non-null object
video           33863 non-null bool
dtypes: bool(2), int64(2), object(9)
memory usage: 2.9+ MB

,Unnamed: 0,ID,author,date,img,rating,tag_activity,tag_category,tag_group,tag_place,tag_xtype,title,video
0,0,blog-215386.txt,/people/kate10,10.10.2018,True,25,Альпинизм,Новости,NaN,NaN,NaN,"Жетон ""Спасение в Горах"" снова в Москве",False
1,1,blog-215345.txt,/people/redakciyasajta,03.10.2018,True,77,Воздух,Взаимопомощь,NaN,NaN,NaN,Леониду Мартынову нужна помощь!,False
2,2,blog-215348.txt,/people/redakciyasajta,03.10.2018,True,73,Альпинизм,Новости,NaN,NaN,NaN,Виталий и Антон возвращаются!,False
3,3,blog-215335.txt,/people/robinsya,02.10.2018,True,88,Альпинизм,Помним,NaN,NaN,NaN,Марафон памяти – марафон дружбы,False
4,4,blog-215186.txt,/people/sergeyglaznov,05.09.2018,True,253,Альпинизм,Новости,NaN,NaN,NaN,Хочу заступиться за Пакистанцев!,False

In [77]:
# Проверяем, что нет лишних или недостающих файлов
assert(len(set(filenames).intersection(set(df['ID']))) == len(filenames))

## Токенизация корпуса

### Сегментация

In [90]:
import nltk

tokenizer = nltk.data.load('tokenizers/punkt/russian.pickle')
coords = dict()
for name in filenames:
    with open(path + name, 'r') as f:
        coords[name] = '\n'.join([str(span) for span in tokenizer.span_tokenize(f.read())])

In [110]:
from pandas import DataFrame

df_markup = DataFrame.from_dict(coords, orient='index',columns=['coords_sent'])
df_sent.to_csv('./sentences.csv')

In [111]:
sentence_count = 0
for coords in df_markup['coords_sent']:
    sentence_count += len(coords.split('\n'))

In [113]:
# Количество предложений в корпусе:
sentence_count

1016341

### Токенизация

In [151]:
import nltk
import string

def tokenize(text):
    tokens = nltk.word_tokenize(text, 'russian')
    tokens = [word.lower() for word in tokens if ( word not in string.punctuation + '«»–' )]
    return tokens

In [157]:
words = set()
words_count = 0
for name in filenames:
    tokens = tokenize(open(path + name, 'r').read())
    words.update(tokens)
    words_count += len(tokens)

In [158]:
print('Всего слов: ', words_count)
print('Различных слов: ', len(words))

Всего слов:  13348440
Различных слов:  544005